<form *ngIf="produtoForm" [formGroup]="produtoForm" (ngSubmit)="onSubmit()">

  <input type="hidden" formControlName="id">
  <label>
    Nome:
    <input type="text" formControlName="nome">
  </label>

  <label>
    Descrição:
    <input type="text" formControlName="descricao">
  </label>

  <label>
    Valor:
    <input type="text" formControlName="valor">
  </label>

  <label>
    Plataforma:
    <input type="text" formControlName="plataforma">
  </label>

  <label>
    Genero:
    <input type="text" formControlName="genero">
  </label>

  <label>
    Estudio:
    <input type="text" formControlName="estudio">
  </label>

  <label>
    Idade Recomendada:
    <input type="text" formControlName="idadeRecomendada">
  </label>

  <label>
    Data de Lançamento:
    <input type="date" formControlName="dataLançamento">
  </label>

  <label>
    Resolução Máxima:
    <input type="text" formControlName="resoluçãoMaxima">
  </label>

  <label>
    Tipo:
    <input type="text" formControlName="tipo">
  </label>

  <button type="submit">Enviar</button>
  
</form>

<a routerLink="/produtos">Voltar</a>