<form *ngIf="usuarioForm" [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">

  <input type="hidden" formControlName="id">
  <label>
    Nome:
    <input type="text" formControlName="nome">
  </label>

  <label>
    Email:
    <input type="text" formControlName="email">
  </label>

  <label>
    Senha:
    <input type="text" formControlName="senha">
  </label>
  
  <div formGroupName="endereco">
    <label>
      CEP:
      <input type="text" formControlName="cep">
    </label>
  
    <label>
      Rua e Número:
      <input type="text" formControlName="rua">
    </label>
  
    <label>
      Complemento:
      <input type="text" formControlName="complemento">
    </label>
  
    <label>
      Cidade:
      <input type="text" formControlName="cidade">
    </label>
  
    <label>
      Estado:
      <input type="text" formControlName="estado">
    </label>
  </div>

  <button type="submit">Enviar</button>
  
</form>

<a routerLink="/usuarios">Voltar</a>